
.role,.fullname
{   
    width: 100%;
}

 .password2
 {
    float: right;
 }

 .mobile,.email,.password1
 {
    width: 100%;
 }

 .intro,.mat-form-field
 {
    padding-left: 2%;
    padding-right: 2%;

 }

 .mat-form-field
 {
    padding: 1%;
 }

 .mat-card
 {  padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 5%;
 }

 .mat-card-actions
 {
    padding-right: 3%;
 }


