<form [formGroup]="loginform">
    <mat-card>
        <div class="intro">
            <mat-card-title>Login</mat-card-title>
            <mat-card-subtitle>* Please fill in the required fields</mat-card-subtitle>
        </div>

        <div>
            <mat-form-field class="email" appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                       placeholder="Ex. pat@example.com">
                <mat-error *ngIf="loginform.controls['email'].hasError('email') && !loginform.controls['email'].hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="loginform.controls['email'].hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
        </div>

          <mat-form-field class="password"appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <mat-error *ngIf="loginform.controls['password'].hasError('required')">{{getErrorPasswordMessage()}}</mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-card-actions align="end"> 
            <button mat-raised-button color="primary" type="submit" [disabled]="!loginform.valid" (click)="onSubmit()">Login</button>
            <button button class="example-button-row" mat-button mat-raised-button color="warn"  type="reset" (click)="onReset()" mat-button>Cancel</button>
          </mat-card-actions>

    </mat-card>
</form>
